---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <p><span class="text-gradient">Vta.ng</span></p>
  <div class="hero-header">
    <img class="hero-image" src="/vincent_blue.jpeg" />
    <div>
      <p>Hi, my name is Vincent</p>
      <p>Welcome to my homepage</p>
      <p>I like making stuff</p>
    </div>
  </div>
  <ul role="list" class="link-card-grid">
    <Card href="/about" title="About" body="More about me" />
    <Card
      href="https://instagram.com/backpack_vinny"
      title="Hardware Projects"
      body="Cool stuff I've built"
    />
    <Card
      href="https://instagram.com/vinnycooksthings"
      title="Cooking"
      body="Random stuff I've cooked"
    />
    <Card
      href="https://vincentntang.com"
      title="Blog"
      body="Coding and leadership blog notes I've written"
    />
  </ul>
  <style>
    .hero-header {
      display: flex;
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      .hero-image {
        border-radius: 20px;
        width: 150px;
        margin: 20px;
      }
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
